################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomStringEnumeratorFilter/obj
/CustomStringEnumeratorFilter/.vs/CustomStringEnumeratorFilter/v16
